.right-controls{
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.right-controls button{
  font-size: 50px;
  display: block;
}

.right-controls button img{
  width: 40px;
  height: 40px;
}